<mdb-card class="project-card" [@fadeInOut]>
  <mdb-card-body>
    <mdb-card-title>
      <h4>
        {{ project.title }}
      </h4>
    </mdb-card-title>

    <mdb-card-text>
      {{ project.education.title }}
    </mdb-card-text>

    <mdb-card-text>
      {{ project.education.institute.name }}
    </mdb-card-text>

    <mdb-card-text>
      {{ project.description}}
    </mdb-card-text>

    <div class="flex-row">
      <mdb-badge pill="true" color="blue" >
        <mdb-icon fas icon="thumbs-up"></mdb-icon>
        {{ project.hasLikes.LIKE }}
      </mdb-badge>
    </div>

    <div class="flex-row">
      <ng-container *ngIf="project.hasTags.length > 0">
        <span class="mr-1" *ngFor="let tag of project.hasTags">
          <mdb-badge info="true">
            {{ tag.name }}
          </mdb-badge>
        </span>
      </ng-container>
    </div>
  </mdb-card-body>
</mdb-card>
