<!-- Default form register -->
<form class="text-center border border-light p-5 mb-3" *ngFor="let projectData of createProjectData; let projectDataIndex = index">

  <p class="h4 mb-4">Voeg informatie toe voor bestand: {{ projectData.createProjectParams.title }}</p>

  <div class="form-row mb-4">
    <div class="col-xs-12 col-md-12">
      <!-- Titel -->
      <div class="md-form w-100">
        <input
          [id]="projectData.file.name"
          mdbInput
          type="text"
          class="form-control"
          [placeholder]="projectData.createProjectParams.title"
          [(ngModel)]="projectData.createProjectParams.title"
          [ngModelOptions]="{standalone: true}"
        />
        <label [for]="projectData.file.name" class="">Titel</label>
      </div>
    </div>
  </div>

    <div class="form-row mb-4">
      <div class="col-xs-12 col-md-6 mb-6">
        <!-- School -->
        <select
          #instituteSelect
          class="browser-default custom-select h-100"
          (change)="selectInstituteBy(projectDataIndex, instituteSelect.value)"
        >
          <option
            [selected]="projectData.createProjectParams.selectedInstitute === null"
            hidden
            value="null"
          >
            Kies een school
          </option>

          <option
            *ngFor="let institute of institutes; let i = index;"
            value="{{ institute.id }}"
          >
            {{ institute.name }}
          </option>
        </select>
      </div>

      <div class="col-xs-12 col-md-6 mb-6">
        <!-- Education -->
        <select
          #educationSelect
          class="browser-default custom-select h-100"
          [disabled]="projectData.createProjectParams.selectedInstitute === null"
          (change)="selectEducationBy(projectDataIndex, educationSelect.value)"
        >
          <option
            [selected]="projectData.createProjectParams.educationId === null"
            hidden
            value="null"
          >
            Kies een opleiding/vak
          </option>

          <option
            *ngFor="let education of projectData.createProjectParams.availableEducations; let i = index;"
            value="{{ education.id }}"
          >
            {{ education.title }}
          </option>
        </select>
      </div>
  </div>

  <div class="form-row mb-4">
    <div class="col-xs-12 col-md-6">
      <!-- Language-->
      <input
        type="text"
        class="form-control h-100"
        placeholder="Vul hier de taal in..."
        [(ngModel)]="projectData.createProjectParams.language"
        [ngModelOptions]="{standalone: true}"
      />
    </div>

    <div class="col-md-6 mx-auto d-flex justify-content-center">
      <button
        type="button"
        class="btn btn-block waves-effect"
        [class.btn-outline-secondary]="!projectData.createProjectParams.isExcellent"
        [class.btn-secondary]="projectData.createProjectParams.isExcellent"
        (click)="setExcellentTo(projectDataIndex)"
      >
        Excellent : {{ projectData.createProjectParams.isExcellent ? 'ja' : 'nee' }}
      </button>
    </div>

    <div class="col-md-12 mx-auto">
      <div class="md-form w-100">
        <input
          mdbInput
          type="text"
          [id]="'tagging-' + projectData.file.name"
          class="form-control"
          [(ngModel)]="projectData.createProjectParams.tagInput"
          [ngModelOptions]="{standalone: true}"
          (keydown.enter)="addTags(projectDataIndex)"
        />
        <label [for]="'tagging-' + projectData.file.name" class="">
          #Tags (scheiden d.m.v. ' , ')
        </label>
      </div>
    </div>

    <div
      *ngIf="projectData.createProjectParams.tags.length > 0"
      class="col-md-12 d-flex justify-content-start mb-2">
      <mdb-badge
        *ngFor="let tag of projectData.createProjectParams.tags; let tagIndex = index"
        info="true"
        class="mr-1"
      >
        <mdb-icon fas icon="times" (click)="removeTag(projectDataIndex, tagIndex)"></mdb-icon>
        {{ tag }}
      </mdb-badge>
    </div>

    <div class="col-md-4 mx-auto d-flex justify-content-center">
      <button mdbBtn type="button" class="btn-success" block="true" (click)="addTags(projectDataIndex)">
        Tags toevoegen
      </button>
    </div>
  </div>
</form>

