<!-- Search bar component -->
  <!-- FORM -->
  <div class="md-form input-group mb-3 w-100">
    <!-- ICON -->
    <div class="input-group-prepend white-background rounded-corners-left">
      <span class="input-group-text md-addon"><i class="fas fa-search"></i></span>
    </div>
    <!-- END ICON -->

    <!-- INPUT FIELD -->
    <input
      type="text"
      class="form-control"
      placeholder="Waar ben je naar opzoek?"
      aria-label="Waar ben je naar opzoek?"
      aria-describedby="button-addon2"
      [(ngModel)]="searchString"
      (keydown.enter)="searchBarOnEnter()"
    />
    <!-- END INPUT FIELD -->

    <!-- SEARCH BUTTON -->
    <div class="input-group-append">
      <button
        mdbBtn
        color="primary"
        size="lg"
        class="m-0 px-3 py-2 rounded-corners-right"
        type="button"
        id="button-addon2"
        (click)="btnSearchOnClick()"
        mdbWavesEffect
      >
        Zoeken
      </button>
    </div>
    <!-- END SEARCH BUTTON -->
  </div>


<!-- TODO: Code cleanup (self closing elements) -->
<!-- TODO: Code cleanup: remove unnessecary attributes -->
