/*
Author: Jesse Minneboo
Date: 28 November 2019
*/

/* Global */
.pushup-16vh{
  padding-top: 16vh;
}

h1{
  color: white;
  font-size: 3.2em;
  font-weight: bold;
}

p{
  color: white;
  font-size: 1.2em;
  font-weight: normal;
}

/* Sections' background */
.background {
  height: 70vh;
  background: #5bc787 url("src/assets/images/background-piece.png");
  background-repeat: repeat;
  margin: 0 auto;
  text-align: center;
}
