<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black fixed-top scrolling-navbar">

  <app-nav-bar-brand></app-nav-bar-brand>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          routerLink="/"
          class="nav-link waves-light"
          mdbWavesEffect
        >
          Home
        </a>
      </li>

      <li
        class="nav-item"
        routerLinkActive="active"
        *ngIf="authService.isAuthenticated"
      >
        <a
          routerLink="/projects"
          class="nav-link waves-light"
          mdbWavesEffect
        >
          Projects
        </a>
      </li>
    </ul>
    <!-- Links -->
    <div class="my-0 text-white" *ngIf="authService.isAuthenticated">
      <mdb-icon fas icon="user"></mdb-icon>
      {{ authService.getAuthUser().getFullname() }}
      <button
        type="button"
        mdbBtn
        color="default"
        outline="true"
        (click)="logout()"
      >Logout</button>
    </div>

    <div class="my-0" *ngIf="!authService.isAuthenticated">
      <button
        type="button"
        mdbBtn
        color="default"
        outline="true"
        (click)="openLoginModal()"
      >
        Login
      </button>

      <button
        mdbBtn
        type="button"
        color="default"
        outline="true"
        (click)="openRegisterModal()"
      >
        Registreren
      </button>
    </div>
  </links>
</mdb-navbar>
<!--/.Navbar-->
