<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black fixed-top scrolling-navbar">

  <app-nav-bar-brand></app-nav-bar-brand>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Projects</a>
      </li>
    </ul>
    <!-- Links -->

    <!-- Search form -->
      <div class="my-0">
        <button
          type="button"
          mdbBtn
          color="default"
          outline="true"
        >
          Login
        </button>

        <button
          type="button"
          mdbBtn
          color="default"
          outline="true"
        >
          Register
        </button>
      </div>
  </links>
  <!-- Collapsible content -->


</mdb-navbar>
<!--/.Navbar-->
