<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Zoek resultaten</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <table mdbTable #tableEl="mdbTable" class="z-depth-1 table table-bordered table-responsive-md table-striped text-center">
        <thead>
        <tr>
          <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let el of elements">
          <td>{{el.title}}</td>
          <td>{{el.category}}</td>
          <td>{{el.fieldOfStudy}}</td>
          <td>{{el.study}}</td>
          <td>{{el.language}}</td>
          <td><app-like></app-like></td>
        </tr>
        </tbody>
        <tfoot class="grey lighten-5 w-100">
        <tr>
          <td colspan="6">
            <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<!--<tr *ngFor="let el of elements; let i = index">-->
<!--  <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.title}}</td>-->
<!--  <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.category}}</td>-->
<!--  <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.fieldOfStudy}}</td>-->
<!--  <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.study}}</td>-->
<!--  <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.language}}</td>-->
<!--  <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"><app-like></app-like></td>-->
<!--</tr>-->
<!-- Editable table -->
