<!-- Editable table -->
<div class="card">
<!--  <button class="btn btn-block btn-primary" (click)="filterOnClick()">CLICK FOR CHANGE</button>-->
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
    Zoek resultaten
  </h3>

  <div class="card-body">
    <div id="table" class="table-editable">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="md-form">
            <input
              type="text"
              [(ngModel)]="searchTextWithinResultSet"
              class="form-control"
              id="search"
              mdbInput
            />
            <label for="search">Search</label>
          </div>
        </div>
      </div>

      <div class="row justify-content-center align-items-center mb-4">
        <div class="col-12">
          <a
            class="btn btn-success btn-block"
            routerLink="/create-project"
          >
            <mdb-icon fas icon="plus" size="1x"></mdb-icon>
            Toevoegen
          </a>
        </div>

        <div class="col-12 text-center mt-3" *ngIf="loading">
          <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-secondary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-danger" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>

      <table mdbTable #tableEl="mdbTable" class="z-depth-1 table table-bordered table-responsive-md table-striped text-center">
        <thead>
          <tr>
            <th *ngFor="let header of tableHeaders;" scope="col">
              {{header}}
            </th>
          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let project of projects; let i = index;">
            <td *ngIf="paginationCheck(i)">
              {{project.title}}
            </td>

            <td *ngIf="paginationCheck(i)">
              {{project.language}}
            </td>

            <td *ngIf="paginationCheck(i)">
              <span *ngIf="project.grade >= 8">++</span>
              <span *ngIf="project.grade < 8 ">+</span>
            </td>

            <td *ngIf="paginationCheck(i)">
              {{project.education.title}}
            </td>

            <td *ngIf="paginationCheck(i)">
              {{project.education.institute.name}}
            </td>

            <td *ngIf="paginationCheck(i)">
              {{ project.hasLikes.LIKE.length }}
            </td>
          </tr>
        </tbody>

        <tfoot class="grey lighten-5 w-100">
        <tr>
          <td colspan="6">
            <mdb-table-pagination
              [tableEl]="tableEl"
              [searchDataSource]="obvProjects"
            >
            </mdb-table-pagination>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
